{% extends "base.html" %}

{% block title %}
Login | GaonKhiladi
{% endblock %}

{% block content %}

<div class="form-container">

    <div class="form-card">

        <h1>
            Welcome Back
        </h1>

        <p>
            Login to your GaonKhiladi account.
        </p>

        <form method="POST">

            <label>
                Username
            </label>

            <input
                type="text"
                name="username"
                required
            >


            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                required
            >


            <button
                type="submit"
                class="primary-btn full-btn">

                Login

            </button>

        </form>

        <p>
            Don't have an account?

            <a href="/register">
                Register
            </a>
        </p>

    </div>

</div>

{% endblock %}