{% extends "base.html" %}

{% block title %}
Opportunities | GaonKhiladi
{% endblock %}

{% block content %}

<section class="page">

    <div class="page-heading">

        <div>

            <h1>
                🎯 Trials & Opportunities
            </h1>

            <p>
                Opportunities are ranked according
                to your athlete profile.
            </p>

        </div>


        {% if session.get("role")
              in ["coach", "scout", "admin"] %}

        <a href="/add-opportunity"
           class="primary-btn">

            + Add Trial

        </a>

        {% endif %}

    </div>


    <div class="opportunity-grid">

        {% for item in matched %}

        <div class="opportunity-card">

            {% if item.score >= 60 %}

            <span class="match excellent">
                {{ item.score }}% Match
            </span>

            {% elif item.score >= 30 %}

            <span class="match good">
                {{ item.score }}% Match
            </span>

            {% else %}

            <span class="match">
                {{ item.score }}% Match
            </span>

            {% endif %}


            <h2>
                {{ item.opportunity.title }}
            </h2>

            <p>
                🏅
                {{ item.opportunity.sport }}
            </p>

            <p>
                📍
                {{ item.opportunity.location }}
            </p>

            <p>
                📅
                {{ item.opportunity.date }}
            </p>

            <p>
                Age:
                {{ item.opportunity.age_min }}
                -
                {{ item.opportunity.age_max }}
            </p>

            <p>
                {{ item.opportunity.description }}
            </p>

            <hr>

            <strong>
                Organizer:
            </strong>

            {{ item.opportunity.organizer }}

        </div>

        {% else %}

        <div class="empty">

            No opportunities available.

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}