{% extends "base.html" %}

{% block title %}
Create Training Plan
{% endblock %}

{% block content %}

<div class="form-container">

    <div class="form-card">

        <h1>
            🏋️ Create Training Plan
        </h1>

        <form method="POST">

            <label>
                Plan Name
            </label>

            <input
                type="text"
                name="title"
                placeholder="100m Sprint Improvement"
                required
            >


            <label>
                Sport
            </label>

            <input
                type="text"
                name="sport"
                required
            >


            <label>
                Duration
            </label>

            <input
                type="text"
                name="duration"
                placeholder="8 weeks"
                required
            >


            <label>
                Training Description
            </label>

            <textarea
                name="description"
                rows="8"
                placeholder="Daily exercises, repetitions, recovery..."
                required></textarea>


            <button
                type="submit"
                class="primary-btn full-btn">

                Create Training Plan

            </button>

        </form>

    </div>

</div>

{% endblock %}